{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<form method="post" class="mt-5">
		<fieldset>

			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<h2 class="mb-3">
					Bonjour
					{{ app.user.pseudo }}
				</h2>
				<button class="btn btn-sm btn-danger mt-2">
					<a href="{{ path('logout') }}">Déconnexion</a>
				</button>
			{% else %}
				<legend>Connectez-vous</legend>
				<div class="row">
					<div class="col-12 mt-3">
						<input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" required autofocus placeholder="pseudo">
					</div>
					<div class="col-12 mt-3 mb-3">
						<input type="password" name="_password" id="inputPassword" class="form-control" required placeholder="mot de passe">
					</div>
				</div>
				<button class="btn btn-success" type="submit">
					Connexion
				</button>
				<div class="d-flex justify-content-end">
					<button class="btn btn-success" type="">
						<a href="{{ path('inscription') }}">
							Inscription
						</a>
					</button>
				</div>
			{% endif %}

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<input type="hidden" name="_target_path" value="{{ path('home') }}">
		</fieldset>
	</form>
{% endblock %}
