{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/carrousel.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div id="container_img">
    <div id="carrousel">
        <div id="panneau">
            {# <div id="carrousel1">
                <img src="{{ asset('assets/img/home1.jpg') }}"/>
                <img src="{{ asset('assets/img/home2.jpg') }}"/>
                <img src="{{ asset('assets/img/home3.jpg') }}"/>
                <img src="{{ asset('assets/img/home4.jpg') }}"/>
                <img src="{{ asset('assets/img/home5.jpg') }}"/>
            </div>
            <div id="carrousel2"></div>
            <div id="carrousel3"></div>
            <div id="carrousel4"></div>
            <div id="carrousel5"></div> #}
        </div>
    </div>
</div>

{% endblock %}

{# js pour Carrousel #}
{% block javascript %}
    <script src="assets/js/carrousel.js"></script>   
{% endblock %}