{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <fieldset class="my-5">
        <legend>S'inscrire</legend>

        {{ form_start(registrationForm, {'attr': {'id': 'new_inscription'}}) }}
        {{ form_errors(registrationForm) }}

        <div class="d-flex justify-content-center">
            <div class="row w-75">
                <div class="col-12">
                        {{ form_label(registrationForm.prenom) }}
                        {{ form_widget(registrationForm.prenom) }}
                        {{ form_errors(registrationForm.prenom) }}
                </div>
                <div class="col-12">
                        {{ form_label(registrationForm.nom) }}
                        {{ form_widget(registrationForm.nom) }}
                        {{ form_errors(registrationForm.nom) }}
                </div>
                <div class="col-12">
                        {{ form_label(registrationForm.pseudo) }}
                        {{ form_widget(registrationForm.pseudo) }}
                        {{ form_errors(registrationForm.pseudo) }}
                </div>
                <div class="col-12">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email) }}
                        {{ form_errors(registrationForm.email)}}
                </div>
                <div class="col-12">
                        {{ form_label(registrationForm.plainPassword) }}
                        {{ form_widget(registrationForm.plainPassword) }}
                        {{ form_errors(registrationForm.plainPassword)}}
                </div>
                <div class="col-12">
                        {{ form_label(registrationForm.dateNaissance) }}
                        {{ form_widget(registrationForm.dateNaissance) }}
                        {{ form_errors(registrationForm.dateNaissance) }}
                </div>
                <div class="col-12">
                        {{ form_label(registrationForm.adresse) }}
                        {{ form_widget(registrationForm.adresse) }}
                        {{ form_errors(registrationForm.adresse) }}
                </div>
                <div class="col-12">
                        {{ form_label(registrationForm.ville) }}
                        {{ form_widget(registrationForm.ville) }}
                        {{ form_errors(registrationForm.ville) }}
                </div>
                <div class="col-12">
                        {{ form_label(registrationForm.codePostal) }}
                        {{ form_widget(registrationForm.codePostal) }}
                        {{ form_errors(registrationForm.codePostal)}}
                </div>
                <div class="col-12 m-5">
                        {{ form_label(registrationForm.agreeTerms) }}
                        {{ form_widget(registrationForm.agreeTerms) }}
                        {{ form_errors(registrationForm.agreeTerms) }}
                </div>
                <div class="col-12 d-flex justify-content-center">
                        {{ form_label(registrationForm.submit) }}
                        {{ form_widget(registrationForm.submit) }}
                </div>
            </div>
        </div>

        {{ form_end(registrationForm) }}
    </fieldset>
{% endblock %}
