{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/menu-article.css') }}">
{% endblock %}

{% block title %}Menu{% endblock %}

{% block body %}

{# Article RSS #}

<div class="d-flex flex-wrap m-5 justify-content-center">
    {% for rssItem in rssItems %}
        <div class="card m-3 text-light" style="width: 15rem;">
        {# TODO A faire quand on aura fait les images #}
            <div class="card-body">
                <h5 class="card-title">{{ rssItem.title }}</h5>
                <a href="{{ path('article_rss_show', { 'id': loop.index0 }) }}" class="btn btn-primary">Lire</a>
            </div>
        </div>
    {% endfor %}
</div>

{# Barre de recherche #}
<div class="d-flex justify-content-center mb-5">
    <div class="input-group rounded pt-5 w-50">
    <input type="search" class="form-control rounded" id="searchbar" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0 d-none d-sm-block" id="search-addon">
        <i class="bi bi-search"></i>
    </span>
    </div>
</div>

{# Recherche Tag  #}

<form>
    <div class="d-flex justify-content-center" id="tag-wrapper">
        <label for="choose-tag" class="mx-3">Tag</label>
        <select name="choose-tag" id="choose-tag" class="form-select w-25">
            <option value="">Choississez votre tag</option>
            {% for tag in tagArray %}
                <option value="{{ tag.nom }}">{{ tag.nom }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-info mx-5" id="recherche">Rechercher</button>
        <button type="" class="btn btn-info"><a href="{{ path('menu_article') }}">Réinitialiser</a></button>
    </div>
</form>

{# Article manuel #}

<div class="d-flex flex-wrap m-5 justify-content-center">
        {# TODO : pagination ? #}
    {% for articles in pagination %}
        <div class="card m-3 text-light" style="width: 15rem;">
            <div class="card-body">
                <h5 class="card-title">{{ articles.titre }}</h5>
                {# pour récupérer les images et vérifier si c'est pas null  #}
                {% if articles.illustration is not null %}
                    <img src="{{ asset('uploads/' ~ articles.illustration.nomFichier) }}" class="w-100 img-fluid" alt="{{ articles.titre }}">
                {% endif %}
                <a href="{{ path('article_show', { 'id': articles.id }) }}" class="btn btn-primary mt-3">Lire</a>
            </div>
        </div>
    {% endfor %}
</div>
    {{ knp_pagination_render(pagination) }}

<div id="result"></div>

{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/searchbar.js') }}"></script>
{% endblock %}