{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}

{# Barre de recherche #}
<div class="d-flex justify-content-center mb-5">
    <div class="input-group rounded pt-5 w-50">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
        <i class="bi bi-search"></i>
    </span>
    </div>
</div>

<form>
    <div class="d-flex justify-content-center">
        <label for="choose-tag" class="mx-3">Tag</label>
        <select name="choose-tag" id="choose-tag" class="form-select w-25">
            {% for tag in tagArray %}
                <option value="{{ tag.nom }}">{{ tag.nom }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-info mx-5">Rechercher</button>
    </div>
</form>

<div class="d-flex flex-wrap m-5 justify-content-center">
        {# TODO : pagination ? #}
    {% for articles in articleArray %}
        <div class="card m-3" style="width: 15rem;">
            {# <img class="card-img-top" src="..." alt="Card image cap"> #}
            <div class="card-body">
                <h5 class="card-title">{{ articles.titre }}</h5>
                <a href="{{ path('article_show', { 'id': articles.id }) }}" class="btn btn-primary">Lire</a>
            </div>
        </div>
    {% endfor %}
</div>

<div id="result"></div>

{% endblock %}

{% block javascript %}
    <script>
        const getArticleByTagUrl = "{{ path('menu-article-get-article-ajax') }}";
    </script>

    <script src="{{ asset('assets/js/article-search.js') }}"></script>
{% endblock %}