{# {% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        {# If needed: control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}

        {# <button type="submit">login</button>
    </form> #}
{# {% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <form method="post" class="mt-5">
        <fieldset>
            <legend>Connectez-vous</legend>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Bonjour {{ app.utilisateur.prenom }} <a class="btn btn-sm btn-danger" href="{{ path('logout') }}">Déconnexion</a>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-12 mt-3">
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus placeholder="pseudo">
                    </div>
                    <div class="col-12 mt-3 mb-3">
                        <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="mot de passe">
                    </div>
                    </div>
                    <button class="btn btn-success" type="submit">
                        Okdzeedzedez
                    </button>
            {% endif %}
                    <button class="btn-btn-success" type="">
                        Inscription
                    </button>

            <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
            >

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                    <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                    </label>
            </div>
            #}
        </fieldset>
    </form>
{% endblock %}