{% extends 'base.html.twig' %}

{% block title %}Illustration index{% endblock %}

{% block body %}
    <h1>Illustration index</h1>

    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-info w-25 m-2"><a href="{{ path('illustration_new') }}">Ajouter une illustration</a></button>
        <button type="button" class="btn btn-info w-25 m-2"><a href="{{ path('article_index') }}">Voir article</a></button>
        <button type="button" class="btn btn-info w-25 m-2"><a href="{{ path('tag_index') }}">Voir tag</a></button>
        {# <button type="button" class="btn btn-info w-25 m-2"><a href="{{ path('tag_new') }}">Créer un tag</a></button> #}
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-3">Id</th>
                    <th class="col-5">Illustration</th>
                    <th class="col-4">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for illustration in illustrations %}
                <tr>
                    <td>{{ illustration.id }}</td>
                    <td>{{ illustration.nomFichier }}
                        <img src="{{ asset('uploads/') ~ illustration.nomFichier }}" alt="images astronomie" class="w-25">
                    </td>
                    {# <td>
                        <a href="{{ path('illustration_show', {'id': illustration.id}) }}">show</a>
                        <a href="{{ path('illustration_edit', {'id': illustration.id}) }}">edit</a>
                    </td> #}
                    <td>
                        <button type="button" class="btn btn-primary w-25"><a href="{{ path('illustration_show', {'id': illustration.id}) }}">Voir</a></button>
                        <button type="button" class="btn btn-primary w-25"><a href="{{ path('illustration_edit', {'id': illustration.id}) }}">Modifier</a></button>
                        {{ include('illustration/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Pas d'images disponible.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# <a href="{{ path('illustration_new') }}">Create new</a> #}
{% endblock %}
