{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
    <h2>Contact index</h2>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th class="col-1">Id</th>
                <th class="col-1">Prenom</th>
                <th class="col-1">Nom</th>
                <th class="col-2">Email</th>
                <th class="col-1">Objet</th>
                <th class="col-2">Message</th>
                <th class="col-4">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.prenom }}</td>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.adresseMail }}</td>
                <td>{{ contact.objet }}</td>
                <td>{{ contact.contenuMessage }}</td>
                <td>
                    <button type="button" class="btn btn-primary w-25"><a href="{{ path('contact_show', {'id': contact.id}) }}">Voir</a></button>
                    {{ include('contact/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de messages.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
