{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/article.css') }}">
{% endblock %}

{% block title %}Api{% endblock %}

{% block body %}

    {% for rssItem in rssItems %}
        <h2>{{ rssItem.title }}</h2>
        <p>{{ rssItem.description }}</p>
        <img src="{{ rssItem.enclosure.attributes.url  }}" alt="{{ rssItem.title }}" />
    {% endfor %}

{% endblock %}
