{% extends 'base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}

{% block title %}Nouveau Tag{% endblock %}

{% block body %}
    <fieldset class="my-5">
            <legend>Créer un nouveau tag</legend>
            {{ form_start(form, {'attr': {'id': 'new_edit_tag'}}) }}

        <div class="d-flex justify-content-center">
            <div class="row w-75">
                    <div class="col-12">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom) }}
                        {{ form_errors(form.nom) }}
                    </div>
                    <div class="col-12 d-flex justify-content-center">
                        {{ form_label(form.submit) }}
                        {{ form_widget(form.submit) }}
                    </div>
            </div>
        </div>
        <button class="btn btn-info"><a href="{{ path('tag_index') }}">Retour</a></button>
            {{ form_end(form) }}
    </fieldset>
{% endblock %}
