{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Article index</h1>
{# <div class="container-fluid"> #}
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-info w-25 m-2"><a href="{{ path('article_new') }}">Créer un article</a></button>
        <button type="button" class="btn btn-info w-25 m-2"><a href="{{ path('tag_index') }}">Voir tag</a></button>
        <button type="button" class="btn btn-info w-25 m-2"><a href="{{ path('tag_new') }}">Créer un tag</a></button>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-1">Id</th>
                    <th class="col-1">Titre</th>
                    <th class="col-4">Contenu</th>
                    <th class="col-1">Date</th>
                    <th class="col-1">Tag</th>
                    <th class="col-4">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.titre }}</td>
                    <td>{{ article.contenu }}</td>
                    <td>{{ article.dateArticle ? article.dateArticle|date('Y-m-d') : '' }}</td>
                    <td>{{ article.tag ? article.tag|json_encode : '' }}</td>
                    <td>
                        <button type="button" class="btn btn-primary w-25 mb-5"><a href="{{ path('article_show', {'id': article.id}) }}">Voir</a></button>
                        <button type="button" class="btn btn-primary w-25 mb-5"><a href="{{ path('article_edit', {'id': article.id}) }}">Modifier</a></button>
                        {{ include('article/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Pas d'article disponible.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {# </div> #}

    {# <a href="{{ path('article_new') }}">Create new</a> #}
    
{% endblock %}
