{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center mt-5">
        <h2 class="text-light">
            {{ rssItem.title}}
        </h2>
    </div>
        <article class="margin text-light">
            {{ rssItem.description }}
            <img src="{{ rssItem.enclosure.attributes.url  }}" alt="{{ rssItem.title }}" class="m-5" />
        </article>
        <div class="m-5 d-flex justify-content-end">
        </div>
            <div class="col-6">
                <button class="btn btn-info m-2"><a href="{{ path('menu_article') }}">Retour au menu</a></button>
            {% if is_granted("ROLE_ADMIN") %}
                <button class="btn btn-info m-2"><a href="{{ path('article_index') }}">Retour à la liste</a></button>
            {% endif %}
        </div>
{% endblock %}